body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    background-color: #ebe3e0;
}
.nav {
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.nav__list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    padding-right: 10px;
    background: rgba(255, 130, 53, 0.893);
}
.person {
    display: flex;
    text-align: center;
    align-items: center;
}
.wrapper {
    display: flex;
    margin: 0 auto;
    width: 600px;
    border-bottom: 2px solid black;
}
a {
    text-decoration: none;
    color: currentColor;
}
p, h2 {
    padding-left: 10px;
}
h1, h2 {
    display: block;
    color: black;
    background-color: #4c6655;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: 700;
}
h2 {
    color: white;
    font-weight: 500;
}
.reverse-h2 {
    color: black;
    background-color: #ebe3e0;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.round {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.info {
    background-color: #4c6655;
    padding: 10px;
    color: white;
    width: 65%;
}
.content {
    background-color: #ebe3e0;
    padding: 10px;
    width: 100%;
}
.code {
    white-space: pre-line;
}
.links {
    display: flex;
    margin: 0 auto;
    width: 600px;
    align-items: center;
    justify-content: space-around;
    background-color: #ebe3e0;
}
img {
    padding: 10px;
}